<div>
    <h2>{{post.title}}</h2>
    <p>By {{post.author}} on {{post.date}}</p>
    <p>{{post.content}}</p>
    
    <div>
        <h3>Comments</h3>
        {{#each post.comments as |comment|}}
        <div>
            <p>{{comment.author}}: {{comment.content}}</p>
        </div>
        {{/each}}

{{#if loggedIn}}
<form action="/posts/{{post.id}}/comments" method="POST">
<div>
    <label> for="content">Add a comment:</label>
    <textarea id="content" name="content" required></textarea>
</div>
<button type="submit">Submit Comment</button>
</form>
{{else}}
            <p><a href="/login">Log in</a> to post a comment.</p>
        {{/if}}
    </div>
</div>